* {
    box-sizing: border-box;
}

body {
    background: url(img/forest.jpg) no-repeat;
    height: 100vh;
    margin: 0;
    background-size: cover; /* 추가 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* 추가 */
    max-width: 720px; /* 추가 */
    width: 100%; /* 추가 */
}

.title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding: 30px;
}

.test_field {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    padding: 20px;
    flex-direction: column;
    background-color: rgb(216, 216, 97);
    width: 100%; /* 추가 */
    height: 600px;
    border-radius: 30px;
    color: white;
}

.test-item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.arrowbtn {
    display: flex;
    align-items: center;
}

.previous, 
.next {
    background: rgb(216, 216, 97);
    width: 50px;
    height: 20px;
    border: none;
    color: black;
    margin: 10px;
    cursor: pointer;

}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}